@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap");

.scene_container {
  width: 100%;
  height: 100vh;
  background-color: #141414;
}

.pages {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}

.pages_wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.page--hidden {
  opacity: 0;
}

.page--welcome {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.page--headband {
  position: absolute;
  max-width: 750px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.page--sounds,
.page--brandlogo {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  max-width: 600px;
  /* border: 1px solid red; */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.page--battery {
  position: absolute;
  top: 50%;
  left: 75%;
  width: fit-content;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.page--construction {
  position: absolute;
  top: 0;
  bottom: 0;
}

.message {
  color: #fff;
  font-family: "Anton";
  font-size: 192px;
  line-height: 200px;
  z-index: 99999;
}

.message--sub {
  font-family: "Roboto";
  color: #8c8c8c;
  font-size: 24px;
}

.comprar {
  padding: 12px 26px;
  background-color: rgb(34, 136, 226);
  color: #fff;
  outline: none;
  border: none;
  font-family: "Roboto";
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 9999;
  pointer-events: auto;
  cursor: pointer;
}

@media (max-width: 600px) {
  .message {
    font-size: 32px;
  }

  .message--sub {
    font-size: 16px;
  }
}
